body {
    background-size: 100%;
    background-color: #cccccc;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 2vh 3vw;
}

.main {
    height: 94vh;
    width: 94vw;
    padding: 0;
}

.backframe {
    width: 94vw;
    height: 94vh;
    position: absolute;
    z-index: -1;
}

.loginOption {
    margin-top: 1vh;
    padding: 5px;
    width: 60vw;
    height: 15vw;
}
.loginOption:hover {
    margin-left: 5vw;
}


.loginBack {
    width: 60vw;
    height: 15vw;
    position: absolute;
    z-index: -1;
}


.loginPortrait {
    vertical-align: middle;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    margin-left: 3vw;
    margin-top: 3vh;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.alert {
    position: fixed;
    z-index: 101;
    width: 766px;
    height: 417px;
    top: 50%;
    left: 50%;
    margin-left: -383px;
    margin-top: -209px;
    background-image: url('/res/img/borderlands_alert.png');
}

.alert-button {
    background-color: #FFA241;
    font-family: 'Willow Body', Arial, sans-serif;
    color: black;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    font-size: 2em;
    padding: 15px 32px;
}

.newCharacterDrop {
    position: absolute;
    z-index: 50;
    width: 505px;
    height: 354px;
    margin-top: -355px;
}
.newCharacterDrop:hover {
    margin-top: -300px;
}

.page {
    padding-top: 8vh;
    padding-left: 5vh;
}

.title {
    font-family: 'Willow Body', Arial, sans-serif;
    font-style: normal;
    font-size: 3em;
    position: absolute;
    z-index: 1;
    margin: 0;
}

.text {
    font-family: 'Willow Body', Arial, sans-serif;
}

.nav-icon {
    position: absolute;
}
.nav-icon:hover {
    background-color: #ffff00;
    border-radius: 25px;
}

.character-icon {
    margin-left: 40vw;
}

.inventory-icon {
    margin-left: 45vw;
}

.quest-icon {
    margin-left: 50vw;
}

.codex-icon {
    margin-left: 55vw;
}

.maps-icon {
    margin-left: 60vw;
}

.admin-icon {
    margin-left: 65vw;
}

.logout-icon {
    margin-left: 70vw;
}

@font-face {
    font-family: "Compacta Std Bold";
    src: url('/res/font/CompactaStdBold/CompactaStdBold.eot');
    src:
    url('/res/font/CompactaStdBold/CompactaStdBold.otf')format('opentype'),
    url('/res/font/CompactaStdBold/CompactaStdBold.svg')format('svg');
}

@font-face {
    font-family: "Compacta Std Regular";
    src: url('/res/font/CompactaStdRegular/CompactaStdRegular.eot');
    src:
    url('/res/font/CompactaStdRegular/CompactaStdRegular.otf')format('opentype'),
    url('/res/font/CompactaStdRegular/CompactaStdRegular.svg')format('svg');
}

@font-face {
    font-family: "Willow Body";
    src: url('/res/font/WillowBody/willowbody_0-webfont.eot');
    src:
    url('/res/font/WillowBody/willowbody_0-webfont.otf')format('opentype'),
    url('/res/font/WillowBody/willowbody_0-webfont.svg')format('svg');
}